html {
    background-color: hsl(0, 0%, 9%);
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

button {
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: hsl(0, 0%, 23%);
    color: hsl(0, 0%, 93%);
    font-size: 28px;
}

button:hover {
    background-color: hsl(0, 0%, 25%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

button:active {
    outline: 1px solid hsl(0, 0%, 49%);
    outline-offset: -1px;
    background-color: hsl(0, 0%, 27%);
}

.calc-container {
    width: 350px;
    height: 500px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    outline: 1px solid hsl(0, 0%, 23%);
    padding: 8px;
    gap: 8px;
    margin-top: 20px;
}

#calc-display {
    font-size: 52px;
    outline: 1px solid hsl(0, 0%, 43%);
    border-radius: 4px;
    padding: 8px 24px;
    color: hsl(0, 0%, 93%);
    display: flex;
    justify-content: end;
    align-items: center;
}

.calc-btns {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 8px;
}

.calc-btns-row {
    display: flex;
    flex-grow: 1;
    gap: 8px;
}

.calc-btns button {
    flex: 1;
}

.calc-btn-operator {
    background-color: hsl(27, 76%, 60%);
    color: hsl(0, 0%, 93%);
}

.calc-btn-operator:hover {
    background-color: hsl(27, 76%, 63%);
    color: hsl(0, 0%, 100%);
}

.calc-btn-operator:active {
    outline: 1px solid hsl(27, 76%, 90%);
    outline-offset: -1px;
    background-color: hsl(27, 76%, 66%);
}

.calc-btns-special {
    background-color: hsl(221, 53%, 55%);
    color: hsl(0, 0%, 93%);
}

.calc-btns-special:hover {
    background-color: hsl(221, 53%, 57%);
    color: hsl(0, 0%, 100%);
}

.calc-btns-special:active {
    outline: 1px solid hsl(221, 53%, 85%);
    outline-offset: -1px;
    background-color: hsl(221, 53%, 61%);
}

.sources {
    color: hsl(0, 0%, 43%);
    display: flex;
    gap: 16px;
}

.sources a {
    color: hsl(0, 0%, 43%);
    text-decoration: none;
}

.sources a:hover {
    color: hsl(0, 0%, 50%);
    text-decoration: underline;
}

.info {
    display: inline-block;
    color: hsl(0, 0%, 43%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.info-header {
    margin: 0;
    padding: 0;
}

.info ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
}