html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
}

button {
    border: none;
    padding: 4px 8px;
    font-size: 32px;
    border-radius: 4px;
    font-family: monospace;
    font-weight: bold;
    background-color: #e4e4e4;
}

button:hover {
    cursor: pointer;
    background-color: #c9c9c9;
}

button:active {
    background-color: #9e9e9e;
}

.calc-container {
    background-color: #2e2e2e;
    width: 350px;
    height: 500px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 20px auto;
}

#calc-display {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 20px;
    font-family: monospace;
    height: 72px;
    font-size: 52px;
    padding: 0 16px;
    background-color: #c2bea0;
    color: #464133;
    border-radius: 8px;
}

.calc-btns {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 16px;
}

.calc-btns-row {
    display: flex;
    flex-grow: 1;
    gap: 16px;
}

.calc-btns button {
    flex: 1;
}

.calc-btns-operator {
    background-color: #ffb732;
}

.calc-btns-operator:hover {
    background-color: #cf9427;
}

.calc-btns-operator:active {
    background-color: #b87318;
}

.calc-btns-special {
    background-color: #5d97ee;
    color: #ffffff;
}

.calc-btns-special:hover {
    background-color: #5587d3;
}

.calc-btns-special:active {
    background-color: #4b74cc;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 600;
    padding: 20px;
    border-radius: 8px;
    background-color: #2e2e2e;
    color: #e4e4e4;
}

.info-orange {
    color: #ffb732;
}

.info-blue {
    color: #76adff;
}